:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}
.Header {
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
}
.Hero {
  background: url("./assets/lib.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.NavIcon {
  /* border: 1px solid; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.NavIcon h1 {
  padding-left: 1rem;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  gap: 3rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  /* border: 1px solid; */

}
.icon p {
  /* border: 1px solid; */
  cursor: pointer;
}
.icon p span {
  display: none;
  background-color: black;
  color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
.icon p:hover span {
  display: block;
  position: absolute;
}
.Body {
  /* border: 1px solid; */
  position: relative;
}
.Search {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* border: 1px solid; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.Search form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Search input {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.75);
  outline: none;
}
.Search button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.BookResult {
  background-color: #f9f9f9;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book {
  display: flex;
  width: 70%;
  gap: 2rem;
  padding: 1rem;
  /* border: 1px solid; */
}
.book-info {
  line-height: 1rem;
}
.book-info p {
  font-size: 1rem;
}
.book-info small {
  font-size: 0.8rem;
}
.book img {
  width: 8rem;
}
.buttons button {
  padding: 1rem 4rem;
  background-color: #0376b8;
  color: white;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.BorrowedBook {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #F9F9F9; */
  padding-top: 1rem;
  /* border: 1px solid; */
}
.BorrowedBook h1{
  color: #cccccc;  
}
.BorrowedBook-wrapper {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}
.BorrowedBook img {
  width: 20rem;
}

.BorrowedBook-info {
  text-align: center;
}
.BorrowedBook-buttons button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  background-color: #ff0000;
  color: white;
  box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.BorrowedBook-buttons button:hover {
  background-color: #d70303;
  color: white;
}

/* SHIMMER */
.shimmer {
  background-color: #f9f9f9;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shimmer-wrapper {
  display: flex;
  gap: 2rem;
  width: 70%;
  padding: 1rem;
  /* border: 1px solid; */
}
.img-shimmer {
  width: 8rem;
  height: 12rem;
  /* background-color: #cccccc; */
  animation: imgShimmer 1s infinite linear alternate;
}

@keyframes imgShimmer {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color:  hsl(200, 20%, 95%);
  }
}

.content-shimmer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-shimmer .title-shimmer {
  width: 15rem;
  height: 7px;
  border-radius: 50px;
  /* background-color: #cccccc; */
  animation: titleShimmer 1s infinite linear alternate;

}
@keyframes titleShimmer {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color:  hsl(200, 20%, 95%);
  }
}
.content-shimmer .author-shimmer {
  width: 10rem;
  height: 7px;
  border-radius: 50px;
  /* background-color: #cccccc; */
  animation: authorShimmer 1s infinite linear alternate;
}
@keyframes authorShimmer {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color:  hsl(200, 20%, 95%);
  }
}
.published-shimmer {
  width: 7rem;
  height: 7px;
  border-radius: 50px;
  /* background-color: #cccccc; */
  animation: publishedShimmer 1s infinite linear alternate;
}
@keyframes publishedShimmer {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color:  hsl(200, 20%, 95%);
  }
}
